/**************** ESTILOS GENERALES ***************/
footer {
    text-align: center;
    background: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding-top: 3px;
    z-index: 1000;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
    z-index: 1;
    background: #D34539;
}

.navbar-header a{
    padding: 3px 0;
    position: absolute;
    top: 23px;
    right: -25px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    margin-right: 5px;
    transition: border 0.2s;
}

.navbar-header a:hover{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

a, span, label, p {
    font-family: 'Oswald', sans-serif;
}
/***************************************************/

/****IMAGEN DE FONDO****/
img.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    max-height: 120%;
    opacity: 0.9;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
/***********************/

/***PARRAFO DEL FOOTER***/
footer p{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/**** LOGOS ****/
.logo {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    max-height: 140px;
    /*animation-name: logo-init;
    animation-duration: 0.7s;
    animation-delay: 1s;*/
    z-index: 1000;
}

.logo:hover {
    cursor: pointer;
    max-width: 253px;
    max-height: 143px;
}

.logo2 {
    position: fixed;
    top: -2px;
    left: 10px;
    width: 150px;
    max-height: 90px;
    z-index: 1000;
}

.logo2:hover {
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.1);
    cursor: pointer;
    max-width: 160px;
    max-height: 90px;
}
/***********************/

/******** LOGIN *********/
form.login{
    position: absolute;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-sizing: border-box;
    /*padding: 15px;*/
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.5);
    width: 400px;
    max-width: 400px;
    min-height: 470px;
    background-color: rgba(211, 69, 59, 1);
}

form.login:hover{
    max-width: 402px;
    min-height: 472px; 
}

/*Header del login*/
.cls21 {
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    position: relative;
    height: 80px;
    margin: 0;
}

/*Body del login*/
.cls22 {
    padding: 15px 20px;
    height: 320px;
}

/*Footer del login*/
.cls23 {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 70px;
}

/*Titulo LOGIN*/
.cls24 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    font-weight: bold;
}


input.login {
    width: 100%;
    margin-top: 40px;
    padding-left: 80px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 15px;
    outline: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
}

.cls26 {
    color:rgba(255, 255, 255, 0.3);
}

.cls27 {
    color:rgba(255, 255, 255, 1);
}

input.login:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

input.login:focus .cls26 {
    color: rgba(255, 255, 255, 0.6);
}

.cls25 {
    font-style: italic;
    color: rgba(255, 255, 255, 1);
    margin-left: 4px;
    margin-top: 5px;
    display: block;
}

input.login:-ms-input-placeholder { color: rgba(255, 255, 255, 0.6); } /* IE 10+ */
input.login::placeholder { color: rgba(255, 255, 255, 0.6); }

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding-left: 10px;
  padding-top: 50px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.cls29 {
    display: block;
    margin-top: 40px;
}

.btnLogin {
    display: block;
    width: 200px;
    padding: 15px 60px;
    border: 0;
    border-radius: 8px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
}

.fontBtnLogin {
    font-size: 16px;
}

.fontForg{
    padding-top: 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    width: 300px;
    color:rgba(255, 255, 255, 1);
    margin: auto;
}

.fontForg:hover{
    color:rgba(255, 255, 255, 1);
}

/*form.login:hover .icon-login{
    animation-name: example;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
}

.icon-login{
    display: block;
    margin: auto;
    width: 220px;
    height: 100px;
    padding: 10px 0;
}*/
/***************************/

/*** CAMPOS DE FORMULARIO ***/

.cls19 {
    margin-top: 25px;
}

input[type=text].general, input[type=password].general, input[type=number].general, input[type=file], select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-left: 3px solid #D34539; 
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: 4px 4px 4px 4px;
}

input[type=text].general:focus, input[type=password].general:focus, input[type=number]:focus{
    border: 3px solid #D34539;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #D34539;
}

.button2:hover {
    background-color: #D34539;
    color: white;
}

.a_icon {
    cursor: pointer;
}

/*Chosen - seleccion simple*/
.chosen-container-single .chosen-single {
    width: 100%;
    height: 50px;
    /* background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%); */
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    border: 2px solid #ccc;
    border-left: 3px solid #D34539; 
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    margin: 4px;
}

.chosen-container-multi {
    width: 100%;
    min-height: 50px;
    height: auto;
    /* background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%); */
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    border: 2px solid #ccc;
    border-left: 3px solid #D34539; 
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    margin: 4px;
}

.chosen-choices{
    display: block;
    width: 100%;
    height: 100%;
}

.chosen-container-multi .chosen-choices {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 16px;
    cursor: text;
}
/******************************/

/*** FUENTES ***/
.font01{
    /*font-family: "Times New Roman", Times, serif;*/
    font-size: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 4px 4px gray;
    color: white;
}

.font02{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #D34539;
}
/***************/

.flt-right{
    float: right;
}

a:link {
    text-decoration: none;
    color: orange;
}

/***Lista de los cruds***/
.container03{
    
    padding: 0 10px;
    margin-top: 80px;
}

ul.cls01 {
    border: 1px solid blue;
    width: 90%;
    height: 100px;
    margin: 0 0 10px 0;
    overflow: visible;
}

ul.cls01 li {
    margin-right: 10px;
    float: left;
}

.cls17{
    font-family:  'Oswald', sans-serif;
    font-style: italic;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
}

.cls33 {
    display: inline;
}

.cls18{
    margin-bottom: 15px;
    font-size: 30px;
    border-bottom: 2px solid #D34539;
    border-top: 2px solid #D34539;
}

ul.cls01 a {
    border-radius: 60px;
    padding: 5px;
    display: block;
}

ul.cls01 a:hover {
    transform: scale(1.1);
    border: 2px solid #D34539;
}


/*Tamaño de los iconos de crud*/
.cls20 {
    width: 70px;
    height: 70px; 
}

/***********************/

/*** Barra lateral derecha ***/
.cls02 {
    background: #fafad2;
    position: fixed;
    top: 50px;
    right: 0;
    width: 100px; 
    border-left: thin solid #D34539;
    min-height: 100%;
}

ul li.cls03 {
    height: 130px;
    margin-bottom: 5px;
}

ul li img.cls13 {
    width: 88px;
    height: 88px;
    margin: auto;
    margin-bottom: 4px;
    display: block;
}

ul li label.cls14 {
    width: 100%;
    padding: 2px;
    font-family: "Times New Roman", Times, serif;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    display: block;
}

ul li label.cls15 {
    font-size: 18px;
    letter-spacing: 0;
}

ul li.cls03:hover {
    transform: scale(1.1);
}

/*Opción seleccionada*/
.cls16 {
    background: #fafae9;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
}

/*****************************/

/*** Entradas: mesas ***/
.cls04 {
    position: relative;
    text-align: center;
    width: 93%;
    clear: both;
    margin-top: 20px;
    overflow:visible;
}

.cls05 {
    position: relative;
    font-size: 14px;
    float: left;
    width: 180px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 15px 15px 0;
    overflow: visible;
}

.cls05:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid rgba(211, 69, 59, 0.6);
}

.cls70:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid rgba(211, 69, 59, 0.6);
}

.cls06 {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px; height: 15px;
    border-radius: 15px;
    z-index: 200;
}

.cls05 img {
    width:100%;
    height: 140px;
}

/*Item de la lista de pedidos*/
.cls72 {
    width: 270px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    float: left;
}

.cls73{
    width: 35%;
    height: 100%;
    border: 2px solid lightgray;
    background: rgba(211, 69, 59, 0.9);
    float: left;
}

.cls74{
    width: 100%;
    height: 75%;
}

.cls75{
    width: 65%;
    height: 100%;
    text-align: center;
    float: left;
}

.cls76{
    color: white;
}

.cls77{
    color: rgba(211, 69, 59, 1);
}

.container04{
    border: 2px solid lightgray;
    position: absolute;
    top: 160px;
    left: 20%;
    width: 80%;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container05{
    border: 2px solid lightgray;
    position: absolute;
    top: 160px;
    left: 0;
    width: 20%;
    height: 100%;
    padding: 10px;
}
/*****************************/

/*estado de mesa libre*/
.cls07 {
    background: green;
}

/*estado de mesa ocupado*/
.cls08 {
    background: red;
}

.cls09 {
    position: relative;
    background: #D34539;
    color: white;
    font-size: 14px; font-weight: bold;
    text-align: center;
    height: 60px;
}

.cls09 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cls10 {
    font-style: italic;
    color: red;
    margin-left: 4px;
    display: block;
}

.cls11{
    color: white;
    font-size: 14px;
}

.cls12{
    position: absolute;
    bottom: 4px;
    left: 10px;
}

/***********************/

/*** Imagen de fondo ***/
.fond01 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1000;
}
/***********************/

/******** SECCION DE PEDIDO *********/
.cls32 {
    border: 1px solid blue;
    width: 22%;
    height: 100%;
    padding: 5px;
    position: fixed;
    top: 55px;
    left: 0;
    border-right: 1px solid rgba(211, 69, 59, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

.cls43 {
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    overflow: auto;
}

.cls44 {
    border: 1px solid green;
    width: 60%;
    height: 100px;
    float: left;
}

/*Descripcion del prod seleccionado*/
.cls46 {
    /*border: 1px solid blue;*/
    width: 100%;
    height: 60px;
}

/*Descripcion del prod seleccionado*/
.cls47 {
    /*border: 1px solid black;*/
    width: 100%;
    height: 40px;
}

.cls48 {
    /*border: 1px solid green;;*/
    width: 15%;
    margin-left: 15%;
    height: 40px;
    float: left;
}

.cls51 {
    margin-left: 2%;
    margin-right: 10%;
}

.cls53 {
    margin-right: 2%;
}

.cls54 {
    border: 2px solid rgba(211, 69, 59, 1);
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(211, 69, 59, 0.2), 0 6px 20px 0 rgba(211, 69, 59, 0.19);
    margin-top: 2%;
    height: 9%;
}

.cls55 {
    width: 100%;
    height: 72%;
    margin-bottom: 6%;
    overflow: auto;
}

.cls63 {
    height: 8%;
    margin-bottom: 4%;
}

.cls56 {
    width: 30%;
    height: 100%;
    float: left;
}

.cls57 {
    width: 70%;
    height: 100%;
    float: left;
}

.cls58 {
    color: rgba(211, 69, 59, 1);
}

.cls59 {
    float: right;
}

.cls60 {
    width: 30%;
    height: 100%;
}

.cls61 {
    padding: 2px;
    font-size: 22px;
    background-color: rgba(211, 69, 59, 1);
    width: 100%;
    height: 100%;
}

.cls62 {
    font-size: 24px;
}

.cls64{
    width: 20px;
    height: 20px;
    background: rgba(211, 69, 59, 1);
}

.cls65 {
    font-size: 16px;
}

.cls66 {
    margin-bottom: 0;
}

.cls67 {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden; 
    clear: both;
}

.cls68 {
    font-weight: bold;
    color: white;
}

.cls69 {
    border-bottom: 1px solid rgba(211, 69, 59, 1);
}

.modulos{
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    min-width: 250px;
    height: auto;
}

div.polaroid {
    border: 1px solid rgba(211, 69, 59, 0.8);
    width: 250px;
    height: 180px;
    background-color: white;
    margin-bottom: 25px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.cls71 {
  padding: 10px 20px;
}

.cls52 {
    position: relative;
    top: 2px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: rgba(211, 69, 59, 1);
}

.cls49 {
    /*border: 1px solid blue;;*/
    width: 40%;
    height: 40px;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.cls50 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(211, 69, 59, 1);
}

/*operaciones del prod seleccionado*/
.cls45 {
    border: 1px solid purple;
    width: 5%;
    height: 100px;
    float: left;
}

.cls41{
    border: 1px solid blue;;    
}

/*Estilo para cantidad de producto seleccionado*/
.cls42{
    width: 50px;
}

/*imagen de producto seleccionado*/
.cls40 {
    width: 35%;
    height: 100px;
    border: 1px solid red;
    float: left;
}
/*********************************/

/***** BARRA DE HERRAMIENTAS *****/
/*Contenedor principal*/
.cls30 {
    width: 78%;
    height: 100%;
    padding: 0 10px;
    position: absolute;
    top: 55px;
    left: 22%;
}

.cls31 {
    position: relative;
    top: 20px;
    height: 100%;
}

.cls34 {
    width: 90%;
    height: 100%;
    position: relative;
    top: 20px;
}

.cls35 {
    background: #fafad2;
    width: 130px;
    border-left: thin solid #D34539;
    height: 100%;
    position: relative;
    text-align: center;
    float: right;
    overflow-y: auto;
    overflow-x: hidden; 
}

.cls36 {
    position: relative;
    top: 10px;
    text-align: left;
}

.cls37 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); 
    transition: display 4s;
    display: none;
    z-index: 10;
}

div.cls39:hover .cls37{
    display: block;
}

.cls38 {
    width: 10px;
    height: 10px; 
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    height: 100%;
}
/*********************************/

/*****Animaciones******/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {-ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Safari */ transform:  rotateY(0deg);}
    25%   {-ms-transform: rotate(90deg); /* IE 9 */ -webkit-transform: rotate(90deg); /* Safari */ transform: rotateY(90deg);}
    50%   {-ms-transform: rotate(180deg); /* IE 9 */ -webkit-transform: rotate(180deg); /* Safari */ transform: rotateY(180deg);}
    75%   {-ms-transform: rotate(270deg); /* IE 9 */ -webkit-transform: rotate(270deg); /* Safari */ transform: rotateY(270deg);}
    100%   {-ms-transform: rotate(360deg); /* IE 9 */ -webkit-transform: rotate(360deg); /* Safari */ transform: rotateY(360deg);}
}

/* Standard syntax */
@keyframes example {
    0%   {-ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Safari */ transform: rotateY(0deg)}
    25%   {-ms-transform: rotate(90deg); /* IE 9 */ -webkit-transform: rotate(90deg); /* Safari */ transform: rotateY(90deg)}
    50%   {-ms-transform: rotate(180deg); /* IE 9 */ -webkit-transform: rotate(180deg); /* Safari */ transform:  rotateY(180deg)}
    75%   {-ms-transform: rotate(270deg); /* IE 9 */ -webkit-transform: rotate(270deg); /* Safari */ transform: rotateY(270deg)}
    100%   {-ms-transform: rotate(360deg); /* IE 9 */ -webkit-transform: rotate(360deg); /* Safari */ transform: rotateY(360deg)}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo-init {
    0%   {top: 100%;}
    20%   {top: 75%;}
    40%   {top: 50%;}
    50%   {top: 25%; max-width: 380px; max-height: 220px;}
    70%   {top: 10px; }
    80%   {max-width: 200px; max-height: 100px;}
    100%   {max-width: 250px; max-height: 140px;}
}

/* Standard syntax */
@keyframes logo-init {
    0%   {top: 100%;}
    20%   {top: 75%;}
    40%   {top: 50%;}
    50%   {top: 25%; max-width: 380px; max-height: 220px;}
    70%   {top: 10px; }
    80%   {max-width: 200px; max-height: 100px;}
    100%   {max-width: 250px; max-height: 140px;}
}
/*******************/

@media only screen and (max-width: 800px) {
    img.bg {
        min-height: 100%;
    }

    .logo{
        max-width: 160px; max-height: 90px;
    }

    .logo:hover {
        box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.1);
        cursor: pointer;
        max-width: 180px;
        max-height: 120px;
    }
}