<!-- Mesa y productos seleccionados -->
<section class="cls32">
    <label ng-show="order.board.number" for="mesa" class="cls17 cls18"> #{{order.board.number}}</label>
    <section class="cls55">
        <div ng-repeat="(key, item) in lstItems" class="cls43">

            <!-- Imagen del producto -->
            <img class="cls40" src="{{'../../images/storage/container1/'+item.product.image}}" alt="Imagen de producto">
            <!--/Imagen del producto -->

            <!-- Descripción del prod y cantidades -->
            <div class="cls44">
                <!-- Descripcion -->
                <div class="cls46">
                    <span class="cls17">{{ item.product.name }}</span>
                    <span class="cls17">{{ item.product.price}}</span>
                </div>
                <!-- Cantidades -->
                <div class="cls47">
                    <a class="cls48 cls53" href="" ng-click="reduc(key)"><span class=" cls50 glyphicon glyphicon-minus-sign"></span></a>
                    <input class="cls49" type="number" value="1" class="cls42" id="cant{{key}}" min="1" readonly="true">
                    <a class="cls48 cls51" href="" ng-click="aument(key)"> <span class="cls50 glyphicon glyphicon-plus-sign"></span></a>
                </div>
            </div>
            <!--/Descripción del prod y cantidades -->

            <!-- Adiciones y consideraciones -->
            <div class="cls45">
                <a href="" class="cls52" ng-click="quitItem(key, item.product)"><span class="glyphicon glyphicon-remove"></span></a>
                <ul>
                    <li ng-repeat="add in product.lstAdd">
                        {{add.description}}
                    </li>
                </ul>
                <ul>
                    <li ng-repeat="quit in product.lstQuit">
                        {{quit.description}}
                    </li>
                </ul>
            </div>
            <!--/Adiciones y consideraciones -->
        </div>
    </section>
    <div class="cls54">
        {{total}}
    </div>
    
</section>
<!--/Mesa y productos seleccionados -->

<section class="cls30">
    <!-- Barra de herramientas -->
    <uib-tabset active="active">
        <!-- Mesas -->
        <uib-tab index="0">
            <uib-tab-heading>
                <img src="../../images/ico-mesa.png" alt="Icono mesa" style="width:120px; height: 80px;" ng-click="boardfind()">
                <label for="mesas" class="cls17">{{'GENE.MESAS' | translate}}</label>
            </uib-tab-heading>
            <section class="cls31">
                <!-- Entradas para las mesas -->
                <div class="cls05" ng-repeat="board in boards" ng-click="selectBoard(board)">
                    <span class="cls06 cls07"></span>
                    <img src="../../images/ico-mesa.png" alt="Icono mesa" style="width:100%">
                    <div class="cls09">
                        <p>{{ board.number }} / {{ board.space }} {{'GENE.LUGA' | translate}}</p>
                    </div>
                </div>
                <!--/Entradas para las mesas -->
            </section>
        </uib-tab>
        <!--/Mesas -->
        <uib-tab index="1" ng-click="productFind()">
            <uib-tab-heading>
                <img src="../../images/icon-menu01.png" alt="Norway" style="width:120px; height: 80px;">
                <label for="mesas" class="cls17">{{'GENE.PROD' | translate}}</label>
            </uib-tab-heading>
            <label for="filtro" class="cls17 cls36"> {{filterProduct | uppercase}}</label>
            <section class="cls34">
                <!-- Entradas para los productos -->
                <div class="cls05 cls39" ng-repeat="product in products" ng-click="selectProduct(product)"> 
                    <!--<div class="cls37">
                        <img src="../../images/ico-new.png" class="cls38" alt="icono nuevo">
                    </div>-->
                    <img src="{{'../../images/storage/container1/'+product.image}}" alt="Imagen de producto">
                    <div class="cls09">
                        <p>{{ product.code }} / {{ product.price}}</p>
                    </div>
                </div>
                <!--/Entradas para los productos -->
            </section>
            <div class="cls35">
                <ul>
                    <li ng-repeat="category in categorys" class="cls03">
                        <a ng-click="productsByCategory(category)" class="a_icon">
                            <img src="{{'../../images/storage/container1/'+category.image}}" class="cls13">
                            <label for="mesas" class="cls14">{{category.name}}</label>
                        </a>
                    </li>
                </ul>
            </div>
        </uib-tab>
    </uib-tabset>
    <!--/Barra de herramientas -->
</section>