<!-- Mesa y productos seleccionados -->
<section class="cls32">
    <div class="cls63">
        <!-- Mesa seleccionada -->
        <label for="mesa" class="cls17 cls18 cls66"> #{{order.board.number}}</label>
        <!--/Mesa seleccionada -->
        <!-- ¿Para llevar? -->
        <label class="checkbox-inline">
            <input class="form-control a_icon cls64" type="checkbox" id="checkboxEnLinea1" value="opcion_1" >
             <span class="cls17 cls65"> {{'GENE.INSI' | translate }}</span>
        </label>
        <!--/¿Para llevar? -->
    </div>
    
    <section class="cls55">
        <div ng-repeat="(key, item) in lstItems" class="cls43 a_icon" ng-click="selectProductForIngr(key)">

            <!-- Imagen del producto -->
            <img class="cls40" src="{{'../../images/storage/container1/'+item.product.image}}" alt="Imagen de producto">
            <!--/Imagen del producto -->

            <!-- Descripción del prod y cantidades -->
            <div class="cls44">
                <!-- Descripcion -->
                <div class="cls46">
                    <span class="cls17">{{ item.product.name }}</span>
                    <span class="cls17">{{ item.product.price}}</span>
                </div>
                <!-- Cantidades -->
                <div class="cls47">
                    <a class="cls48 cls53" href="" ng-click="reduc(key)"><span class=" cls50 glyphicon glyphicon-minus-sign"></span></a>
                    <input class="cls49" type="number" value="1" class="cls42" id="cant{{key}}" min="1" readonly="true">
                    <a class="cls48 cls51" href="" ng-click="aument(key)"> <span class="cls50 glyphicon glyphicon-plus-sign"></span></a>
                </div>
            </div>
            <!--/Descripción del prod y cantidades -->

            <!-- Adiciones y consideraciones -->
            <div class="cls45">
                <a href="" class="cls52" ng-click="quitItem(key, item.product)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <!--/Adiciones y consideraciones -->

            <!-- Adiciones y consideraciones -->
            <div class="cls67">
                <ul>
                    <li ng-repeat="add in item.lstAdd">
                        <span class="cls17 cls68">+ {{add.name}}</span>
                        <span class="cls17 cls68"> <span class="glyphicon glyphicon-remove" style="display: inline;"> </span>

                    </li>
                </ul>
                <ul>
                    <li ng-repeat="quit in item.lstQuit">
                        <span class="cls17 cls68">- {{quit.name}}</span>
                    </li>
                </ul>
            </div>
            <!--/Adiciones y consideraciones -->
        </div>
    </section>
    <div class="cls54">
        <div class="cls56">
            <button ng-click="confirm()" class="button2 cls61">
                <span class="glyphicon glyphicon-ok-sign"></span>
                {{ 'GENE.CONF2' | translate }}
					
				</button>
        </div>
        <div class="cls57">
            <label for="total" class="cls17 cls59 cls62">Total: <span class="cls58 cls62">{{total}}</span></label>
            <img src="../../images/ico-pay.png" class="cls60">
        </div>
    </div>
    
</section>
<!--/Mesa y productos seleccionados -->

<section class="cls30">
    <!-- Barra de herramientas -->
    <uib-tabset active="active" ng-click="boardfind()">
        <!-- Mesas -->
        <uib-tab index="0">
            <uib-tab-heading>
                <img src="../../images/ico-mesa.png" alt="Icono mesa" style="width:120px; height: 80px;">
                <label for="mesas" class="cls17">{{'GENE.MESAS' | translate}}</label>
            </uib-tab-heading>
            <section class="cls31">
                <!-- Entradas para las mesas -->
                <div class="cls05" ng-repeat="board in boards" ng-click="selectBoard(board)">
                    <span class="cls06 cls07"></span>
                    <img src="../../images/ico-mesa.png" alt="Icono mesa" style="width:100%">
                    <div class="cls09">
                        <p>{{ board.number }} / {{ board.space }} {{'GENE.LUGA' | translate}}</p>
                    </div>
                </div>
                <!--/Entradas para las mesas -->
            </section>
        </uib-tab>
        <!--/Mesas -->

        <!-- Productos -->
        <uib-tab index="1" ng-click="productFind()">
            <uib-tab-heading>
                <img src="../../images/icon-menu01.png" alt="Norway" style="width:120px; height: 80px;">
                <label for="mesas" class="cls17">{{'GENE.PROD' | translate}}</label>
            </uib-tab-heading>
            <label for="filtro" class="cls17 cls36"> {{filterProduct | uppercase}}</label>
            <section class="cls34">
                <!-- Entradas para los productos -->
                <div class="cls05 cls39" ng-repeat="product in products" ng-click="selectProduct(product)"> 
                    <!--<div class="cls37">
                        <img src="../../images/ico-new.png" class="cls38" alt="icono nuevo">
                    </div>-->
                    <img src="{{'../../images/storage/container1/'+product.image}}" alt="Imagen de producto">
                    <div class="cls09">
                        <p>{{ product.code }} / {{ product.price}}</p>
                    </div>
                </div>
                <!--/Entradas para los productos -->
            </section>
            <div class="cls35">
                <ul>
                    <li ng-repeat="category in categorys" class="cls03">
                        <a ng-click="productsByCategory(category)" class="a_icon">
                            <img src="{{'../../images/storage/container1/'+category.image}}" class="cls13">
                            <label for="mesas" class="cls14">{{category.name}}</label>
                        </a>
                    </li>
                </ul>
            </div>
        </uib-tab>
        <!--/Productos -->

        <!-- Adicionales -->
        <uib-tab index="2" ng-click="ingredienteFind()">
            <uib-tab-heading>
                <img src="../../images/ico-ingr.png" alt="Norway" style="width:120px; height: 80px;">
                <label for="mesas" class="cls17">{{'GENE.INGRE' | translate}}</label>
            </uib-tab-heading>
            <label for="filtro" class="cls17 cls36"> {{filterIngrediente | uppercase}}</label>
            <section class="cls34">
                <!-- Entradas para los ingredientes -->
                <div class="cls05 cls39" ng-repeat="ingrediente in ingredientes" ng-click="associateIngToProd(ingrediente)"> 
                    <!--<div class="cls37">
                        <img src="../../images/ico-new.png" class="cls38" alt="icono nuevo">
                    </div>-->
                    <img src="{{'../../images/storage/container1/'+ingrediente.image}}" alt="Imagen de ingrediente">
                    <div class="cls09">
                        <p>{{ ingrediente.name }} <span ng-if="ingrediente.type == 1">/ {{ingrediente.price}}</span></p>
                    </div>
                </div>
                <!--/Entradas para los productos -->
            </section>
            <div class="cls35">
                <ul>
                    <li ng-repeat="type in types" class="cls03">
                        <a ng-click="ingredientesByType(type)" class="a_icon">
                            <img src="../../images/storage/container1/sin-img-01.png" class="cls13">
                            <label for="mesas" class="cls14">{{type.dsca}}</label>
                        </a>
                    </li>
                </ul>
            </div>
        </uib-tab>
        <!--/Adicionales -->
    </uib-tabset>
    <!--/Barra de herramientas -->
</section>