<a class="a_icon" ng-click="$ctrl.detailOrder()">
    <img class="cls20" src="../../images/ico-detail.png" alt="list">
</a>

<script type="text/ng-template" id="modalDetailOrder.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.DETA' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <label for="">{{'GENE.MESA' | translate}}</label>
                
            </div>
            <div class="col-xs-4 col-sm-3">
                <label for="">{{'GENE.USER' | translate}}</label>
                
            </div>
            <div class="col-xs-4 col-sm-3">
                <label for="">{{'GENE.TOTAL' | translate}}</label>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
            class="fa fa-close"></i>{{'GENE.CANC' | translate}}
        </a>
    </div>
</script>