<a class="a_icon" ng-click="$ctrl.paymentOrder()">
    <img class="cls20" src="../../images/ico-cobrar.png" alt="cobrar">
</a>

<script type="text/ng-template" id="paymentOrder.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.PAYMENT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="formFactura" novalidate>
            <div  class="row">
                <div id="printAreaId" class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <img src="../../images/logo.png" class="logoFact" alt="logo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="fact02">
                                <span class="fact01">{{'GENE.DATE' | translate}}: </span>{{today | date:"dd/MM/yyyy"}}<br>
                                <span class="fact01">{{'GENE.HOUR' | translate}}: </span>{{today | date:"H:mm"}}
                            </p>
                        </div>
                        <div class="col-sm-9 fact04" >
                            <span class="fact01">{{'GENE.MESA' | translate}}: </span>{{board.number | uppercase}}<br>
                            <span class="fact01">{{'GENE.ATND' | translate}}: </span>{{user.name | uppercase}}<br>
                        </div>
                    </div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>{{'GENE.UNID' | translate}}</th>
                                <th>{{'GENE.DSCA' | translate}}</th>
                                <th>{{'GENE.PVP' | translate}}</th>
                                <th>{{'GENE.IMPO' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{item.cant}}</td>
                                <td>{{item.product.name | uppercase}}</td>
                                <td>{{item.product.price | number:2}}</td>
                                <td>{{item.cant * item.product.price | number:2}}</td>
                            </tr>
                            <tr ng-repeat="add in lstAdd">
                                <td>{{add.cant}}</td>
                                <td>{{add.add.name | uppercase}}</td>
                                <td>{{add.add.price | number:2}}</td>
                                <td>{{add.cant * add.add.price | number:2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4 fact04">
                            <label for="total" class="fact02" style="font-size: 14px;">
                                <span class="fact01">{{'GENE.TOTAL' | translate}}:</span></label> {{order.total | number:2}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="order.total | number:2" ng-model="isPunto">
                                    <label class="font02">{{'GENE.PNTVNT' | translate}}</label>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="font02">{{'GENE.TOTAL' | translate}}</label>
                            <div class="fact06 fact07">
                                {{order.total | number:2}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="font02">(*) {{'GENE.ABON' | translate}}</label>
                            <input type="text" class="form-control fact05 fact06 fact07" ng-disabled="isPunto" ng-model="abon" placeholder="{{'GENE.ABON' | translate}}" ng-required="!isPunto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="cambio" class="font02 fact02">
                                <span class="fact01">{{'GENE.CAMB' | translate}}:</span></label>
                                <div class="fact06 fact07">
                                    {{abon-order.total | number:2}}
                                </div> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
            class="fa fa-close"></i>{{'GENE.CANC' | translate}}
        </a>
        <a ng-disabled="!formFactura.$valid" ng-click="confirm(formFactura)" 
            class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
            {{ 'GENE.CONF2' | translate }}
        </a>
    </div>
</script>