<a class="a_icon" ng-click="$ctrl.paymentOrder()">
    <img class="cls20" src="../../images/ico-cobrar.png" alt="cobrar">
</a>

<script type="text/ng-template" id="paymentOrder.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.PAYMENT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="formComanda" novalidate id="printAreaId">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Contenedor -->
                    <div class="com04" style="margin:auto;" >
                        <!-- Header -->
                        <div class="com02">
                            <label>{{board.number | uppercase}}</label>
                        </div>
                        <!-- Fecha y hora -->
                        <div class="com04">
                            <label style="float:left;">
                                {{order.orderdate | date:"dd/MM/yyyy"}}
                            </label>
                            <label style="float:right;">
                                {{order.orderdate | date:"H:mm"}}
                            </label>
                        </div>
                        <!-- Mesero -->
                        <div class="com02">
                            <label>MESERO: JUAN</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    campos
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
            class="fa fa-close"></i>{{'GENE.CANC' | translate}}
        </a>
        <a ng-click="confirm()"
            class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
            {{ 'GENE.CONF2' | translate }}
        </a>
    </div>
</script>