<li>
    <a id="list" class="a_icon" ng-click="boardFind( )">
        <i class="fa fa-list" aria-hidden="true">
        </i>
    </a>
    <label for="list" class="cls17">Listar</label>
</li>
<li>
    <detail-board-component></detail-board-component>
    <label for="list" class="cls17">Detalle</label>
</li>
<li>
    <new-board-component></new-board-component>
    <label for="list" class="cls17">Nuevo</label>
</li>
<li>
    <edit-board-component></edit-board-component>
    <label for="list" class="cls17">Editar</label>
</li>
<li>
    <a class="a_icon" ng-click="dropBoard()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <label for="list" class="cls17">Eliminar</label>
</li>