<aside class="cls02">
    <ul>
        <li ng-class="{ cls16: isActive('/boardList') }" class="cls03"><a ui-sref="boardList"><img src="../../images/mesa-01.png" class="cls13">
            <label for="mesas" class="cls14"> Mesas</label></a></li>
        <li ng-class="{ cls16: isActive('/categoryList') }" class="cls03"><a ui-sref="categoryList"><img src="../../images/icon-cat01.png" class="cls13">
            <label for="categorias" class="cls14 cls15"> Categorias</label></a></li>
        <li ng-class="{ cls16: isActive('/productList') }" class="cls03"><a ui-sref="productList"><img src="../../images/icon-menu01.png" class="cls13">
            <label for="productos" class="cls14 cls15"> Productos</label></a></li>
    </ul>
</aside>