<aside class="cls02">
    <ul>
        <li ng-class="{ cls16: isActive('/boardList') }" class="cls03"><a ui-sref="boardList"><img src="../../images/ico-mesa.png" class="cls13">
            <label for="mesas" class="cls14">{{"GENE.MESAS" | translate}}</label></a></li>
        <li ng-class="{ cls16: isActive('/categoryList') }" class="cls03"><a ui-sref="categoryList"><img src="../../images/icon-cat01.png" class="cls13">
            <label for="categorias" class="cls14 cls15"> {{"GENE.CATE" | translate}}</label></a></li>
        <li ng-class="{ cls16: isActive('/productList') }" class="cls03"><a ui-sref="productList"><img src="../../images/ico-products.png" class="cls13">
            <label for="productos" class="cls14 cls15">{{"GENE.PROD" | translate}}</label></a></li>
        <li ng-class="{ cls16: isActive('/userList') }" class="cls03"><a ui-sref="userList"><img src="../../images/ico-user.png" class="cls13">
            <label for="usuarios" class="cls14 cls15">{{"GENE.USERS" | translate}}</label></a></li>
    </ul>
</aside>