<h1>Register</h1>
<hr>
<form name="userForm" novalidate ng-submit="create()">
  <div class="form-group"
      ng-class="{'has-error': userForm.email.$invalid
        && userForm.email.$dirty}">
    <input type="email" class="form-control focus" name="email"
        placeholder="email" required
        ng-model="credentials.email">
        <span class="has-error control-label" ng-show="
        userForm.email.$invalid && userForm.email.$dirty">
      email is required.
    </span>
        <input type="password" class="form-control focus" name="password"
        placeholder="password" autocomplete="off" required
        ng-model="credentials.password">
    <span class="has-error control-label" ng-show="
        userForm.password.$invalid && userForm.password.$dirty">
      password is required.
    </span>
  </div>
  <button class="btn btn-default" ng-disabled="userForm.$invalid">Add</button>
</form>
<a href="" ng-click="logout()">cerrar sesion</a>