<a class="a_icon" ng-click="$ctrl.newUser()">
    <img class="cls20" src="../../images/ico-new.png" alt="new">
</a>

<script type="text/ng-template" id="modalNewUser.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.NEW' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="newUser" novalidate>
            <div class="row">
                <p class="cls10">{{ messageStatus }}</p>
                <div class="col-sm-6">
                        <label class="font02">(*) {{'GENE.USER' | translate}}</label>
                        <input type="text" class="general" name="username" placeholder="{{'GENE.USER' | translate}}" required ng-model="user.username">
                        <span class="has-error control-label" ng-show="
                            newUser.username.$invalid && newUser.username.$dirty">
                        {{'FORM.REQU' | translate}}
                        </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.PASS' | translate}}</label>
                    <input type="password" class="general" name="password" placeholder="{{'GENE.PASS' | translate}}" autocomplete="off" ng-model="user.password" required>
                    <span class="cls10" ng-show="
                        newUser.password.$invalid && newUser.password.$dirty">
                        {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.NAME' | translate}} </label>
                    <input type="text" class="general" name="name" placeholder="{{'GENE.NAME' | translate}}" ng-model="user.name" required>
                    <span class="has-error control-label" ng-show="
                        newUser.name.$invalid && newUser.name.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.PHONE' | translate}} </label>
                    <input type="text" class="general" name="phone" placeholder="{{'GENE.PHONE' | translate}}" ng-model="user.phone" required>
                    <span class="has-error control-label" ng-show="
                        newUser.phone.$invalid && newUser.phone.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.ADDR' | translate}} </label>
                    <input type="text" class="general" name="address" placeholder="{{'GENE.ADDR' | translate}}" ng-model="user.address" required>
                    <span class="has-error control-label" ng-show="
                        newUser.address.$invalid && newUser.address.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.ROLES' | translate}}</label>
                    <select chosen
                            data-placeholder-text-single="'{{'GENE.LBL02' | translate}}'" name="roles"
                            no-results-text="'{{'GENE.LBL01' | translate}}'"
                            ng-model="rolesSelected"
                            ng-options="rol as rol.name for rol in roles track by rol.id" multiple>
                        <option value=""></option>
                    </select>
                    <span class="cls10" ng-show="
                        newUser.roles.$invalid && newUser.roles.$dirty">
                        {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                        <label class="font02">(*) {{'GENE.EMAIL' | translate}}</label>
                        <input type="text" class="general" name="email" placeholder="{{'GENE.USER' | translate}}" required ng-model="user.email">
                        <span class="has-error control-label" ng-show="
                            newUser.email.$invalid && newUser.email.$dirty">
                        {{'FORM.REQU' | translate}}
                        </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <label class="font02">(*) {{'GENE.COMM' | translate}} </label>
                    <input type="text" class="general" name="comments" placeholder="{{'GENE.COMM' | translate}}" ng-model="user.comments">
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
                    class="fa fa-close"></i> {{'GENE.CANC' | translate}}
                </a> <a ng-disabled="!newUser.$valid" ng-click="save(newUser)"
                    class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
                    {{'GENE.GUAR' | translate}}
                </a>
            </div>
            <br>
        </form>
    </div>
</script>