<img src="../../images/bg-01.jpg" class="bg" alt="Background image">
<img src="../../images/logo02.png" class="logo" alt="Background image">
<form name="userForm" class="login" novalidate>
    <span ><img src="../../images/icon-plat01.png"  class="icon-login" alt="icon-login"></span>
    
    <p class="cls10">{{ messageStatus }}</p>
    <label class="font01">(*) Correo</label>
    <input type="text" name="email" placeholder="Email" required ng-model="credentials.email">
    <span class="cls10" ng-show="
        userForm.email.$invalid && userForm.email.$dirty">
      Correo es requerido.
    </span>
    
    <label class="font01">(*) Password</label>
    <input type="password" name="password" placeholder="Password" autocomplete="off" ng-model="credentials.password" required>
    <span class="cls10" ng-show="
        userForm.password.$invalid && userForm.password.$dirty">
      Contraseña es requerido.
    </span>
    <button class="button button2 flt-right" ng-click="login()">Ingresar</button>
    <a ui-sref="reset" class="cls11 cls12">¿Olvidaste tu contraseña?</a>
    <br>
</form>

<div class="list-group">
  <a class="list-group-item" ng-repeat="user in users">{{user.email}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ></i></a>
</div>
