<!-- ********************** BARRA LATERAL DERECHA *********************** -->
<div class="modulos">
    <p class="cls17 cls18">Modulos</p>
    <a ui-sref="boardList" href="">
      <div class="polaroid cls70">
        <img src="../images/ico-admin.png" alt="Administracion" style="width:200px; height: 120px; margin: auto;">
        <div class="cls71">
        <p class="cls17">Administracion</p>
        </div>
      </div>
    </a>
    <a ui-sref="newOrder" href="">
      <div class="polaroid cls70" >
        <img src="../images/ico-neworder.png" alt="Crear orden" style="width:200px; height: 120px; margin: auto; ">
        <div class="cls71">
          <p class="cls17">Nuevo pedido</p>
        </div>
      </div>
    </a>
    <a ui-sref="orderList" href="">
      <div class="polaroid cls70" >
        <img src="../images/ico-order.png" alt="Orden" style="width:200px; height: 120px; margin: auto; ">
        <div class="cls71">
          <p class="cls17">Lista de Pedidos</p>
        </div>
      </div>
    </a>
</div>

<img src="../images/ico-mant.jpg" style="width: 200px; height: 200px; position: fixed; top: 60px; right: 20px;">