<!-- ********************** BARRA LATERAL DERECHA *********************** -->
<div class="modulos">
    <p style="font-size: 22px;" class="cls17 cls18">{{'GENE.MODU' | translate }}</p>
    <a ui-sref="boardList" href="">
      <div class="polaroid cls70">
        <img src="../images/ico-admin.png" alt="Administracion" style="width:125px; height: 90px; margin: auto;">
        <div class="cls71">
        <p style="font-size: 13px;" class="cls17">{{'GENE.ADMI' | translate }}</p>
        </div>
      </div>
    </a>
    <a ui-sref="newOrder" href="">
      <div class="polaroid cls70" >
        <img src="../images/ico-neworder.png" alt="Crear orden" style="width:125px; height: 90px; margin: auto; ">
        <div class="cls71">
          <p style="font-size: 13px;" class="cls17">{{'GENE.NEWPE' | translate }}</p>
        </div>
      </div>
    </a>
    <a ui-sref="orderList" href="">
      <div class="polaroid cls70" >
        <img src="../images/ico-order.png" alt="Orden" style="width:125px; height: 90px; margin: auto; ">
        <div class="cls71">
          <p style="font-size: 12px;" class="cls17">{{'GENE.LSTPE' | translate }}</p>
        </div>
      </div>
    </a>
    <a ui-sref="box" href="">
      <div class="polaroid cls70" >
        <img src="../images/ico-box.png" alt="Caja" style="width:125px; height: 90px; margin: auto; ">
        <div class="cls71">
          <p style="font-size: 12px;" class="cls17">{{'GENE.BOX' | translate }}</p>
        </div>
      </div>
    </a>
</div>

<!--<img src="../images/ico-mant.jpg" style="width: 200px; height: 200px; position: fixed; top: 60px; right: 20px;">-->