<img src="../../images/bg-01.jpg" class="bg" alt="Background image">
<img src="../../images/logo.png" class="logo" alt="Logo">
<form name="userForm" class="login"  novalidate>
    <div class="cls21">
        <label for="header" class="cls24">{{'GENE.RECU' | translate}}</label>
    </div>
    <div class="cls22">
      <span class="cls25" ng-show="messageStatus">{{ 'USER.' + messageStatus | translate }}</span>
      <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-lock cls26"></i>
          <input type="password" name="password" class="login" placeholder="{{'GENE.NEWPASS' | translate}}" autocomplete="off" ng-model="user.newPassword" required>
          <span class="cls25" ng-show="
              userForm.password.$invalid && userForm.password.$dirty">
            {{'FORM.REQU' | translate}}
          </span>
      </div>
      <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-lock cls26"></i>
          <input type="password" name="confirmation"class="login" placeholder="{{'GENE.CONF' | translate}}" autocomplete="off" ng-model="user.confirmation" required>
          <span class="cls25" ng-show="
              userForm.confirmation.$invalid && userForm.confirmation.$dirty">
            {{'FORM.REQU' | translate}}
          </span>
      </div>
      <div class="cls29">
        <button ng-disabled="!userForm.$valid" class="btnLogin fontBtnLogin cls27" ng-click="resetPassword()">{{'GENE.RECU' | translate}}</button>
      </div>
    </div>
</form>
