<img src="../../images/bg-01.jpg" class="bg" alt="Background image">
<img src="../../images/logo02.png" class="logo" alt="Background image">
<form name="userForm" class="login" novalidate>
    <span ><img src="../../images/icon-plat01.png"  class="icon-login" alt="icon-login"></span>
    
    <label class="font01">(*) Email</label>
    <input type="text" name="email" placeholder="Email" required ng-model="credentials.email">
    <span class="cls10" ng-show="
        userForm.email.$invalid && userForm.email.$dirty">
      Correo es requerido.
    </span>
    <button class="button button2 flt-right" ng-click="reset()">Recuperar</button>
    <a ui-sref="login" ng-click="login()" class="cls11 cls12">Login</a>
</form>
