<img src="../../images/bg-01.jpg" class="bg" alt="Background image">
<img src="../../images/logo02.png" class="logo" alt="Background image">
<form name="userForm" class="login"  novalidate>
    <span ><img src="../../images/icon-plat01.png"  class="icon-login" alt="icon-login"></span>
    
    <label class="font01">(*) {{'GENE.NEWPASS' | translate}}</label>
    <input type="password" name="password" placeholder="{{'GENE.NEWPASS' | translate}}" autocomplete="off" ng-model="user.newPassword" required>
    <span class="has-error control-label" ng-show="
        userForm.password.$invalid && userForm.password.$dirty">
      {{'FORM.REQU' | translate}}
    </span>
    
    <label class="font01">(*) {{'GENE.CONF' | translate}}</label>
    <input type="password" name="confirmation" placeholder="{{'GENE.CONF' | translate}}" autocomplete="off" ng-model="user.confirmation" required>
    <span class="has-error control-label" ng-show="
        userForm.confirmation.$invalid && userForm.confirmation.$dirty">
      {{'FORM.REQU' | translate}}
    </span>
    <button class="button button2 flt-right" ng-click="resetPassword()">{{'GENE.GUAR' | translate}}</button>
</form>
