<img src="../../images/bg-01.jpg" class="bg" alt="Background image">
<img src="../../images/logo02.png" class="logo" alt="Background image">
<form name="userForm" class="login" novalidate>
    <span ><img src="../../images/icon-plat01.png"  class="icon-login" alt="icon-login"></span>
    
    <p class="cls10" ng-show="messageStatus">{{ 'USER.' + messageStatus | translate }}</p>
    <label class="font01">(*) {{'GENE.USER' | translate}}</label>
    <input type="text" name="email" placeholder="{{'GENE.USER' | translate}}" required ng-model="user.email">
    <span class="cls10" ng-show="
        userForm.email.$invalid && userForm.email.$dirty">
      {{'FORM.REQU' | translate}}
    </span>
    <button class="button button2 flt-right" ng-click="reset()">{{'GENE.RECU' | translate}}</button>
    <a ui-sref="login" ng-click="login()" class="cls11 cls12">{{'GENE.LOGI' | translate}}</a>
</form>
