<img src="../../images/bg-01.jpg" class="bg" alt="Background image">
<img src="../../images/logo02.png" class="logo" alt="Background image">
<form name="userForm" class="login"  novalidate>
    <span ><img src="../../images/icon-plat01.png"  class="icon-login" alt="icon-login"></span>
    
    <label class="font01">(*) Nueva contraseña</label>
    <input type="password" name="password" placeholder="contraseña" autocomplete="off" ng-model="credentials.password" required>
    <span class="has-error control-label" ng-show="
        userForm.password.$invalid && userForm.password.$dirty">
      password is required.
    </span>
    
    <label class="font01">(*) Confirmación de contraseña</label>
    <input type="password" name="confirmation" placeholder="confirmacion" autocomplete="off" ng-model="credentials.confirmation" required>
    <span class="has-error control-label" ng-show="
        userForm.confirmation.$invalid && userForm.confirmation.$dirty">
      confirmation is required.
    </span>
    <button class="button button2 flt-right" ng-click="setPassword()">Guardar</button>
    <a ui-sref="reset" >Olvidaste tu contraseña</a>
    <a ng-click="logout()">Cerrar sesión</a>
</form>

<div class="list-group">
  <a class="list-group-item" ng-repeat="user in users">{{user.email}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ></i></a>
</div>
