<a class="a_icon" ng-click="$ctrl.editBoard()">
    <img class="cls20" src="../../images/ico-edit.png" alt="list">
</a>

<script type="text/ng-template" id="modalEditBoard.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.EDIT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="editBoard" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.NUME' | translate}}</label>
                    <input type="text" class="general" name="numero" placeholder="{{'GENE.NUME' | translate}}" ng-model="board.number" required>
                    <span class="has-error control-label" ng-show="
                        editBoard.numero.$invalid && editBoard.numero.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.LUGA' | translate}}</label>
                    <input class="general" type="number" name="lugares" min="0" max="16" placeholder="{{'GENE.LUGA' | translate}}" ng-model="board.space" required>
                    <span class="has-error control-label" ng-show="
                        editBoard.lugares.$invalid && editBoard.lugares.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>

            <label class="font02">{{'GENE.DSCA' | translate}}</label>
            <input type="text" class="general" name="descripcion" placeholder="{{'GENE.DSCA' | translate}}" ng-model="board.description">
            <br />
            <div class="modal-footer">
                <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
                    class="fa fa-close"></i>{{'GENE.CANC' | translate}}
                </a> <a ng-disabled="!editBoard.$valid" ng-click="edit(editBoard)"
                    class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
                    {{'GENE.EDIT' | translate}}
                </a>
            </div>
        </form>
    </div>
</script>