<!-- Fondo -->
<img src="../../images/fond-01.jpg" alt="fondo" class="fond01">

<!-- logo -->
<img src="../../images/logo02.png" class="logo2" alt="logo">

<div class="container03">
    <!-- Iconos operaciones crud -->
    <ul class="cls01">
        <li>
            <a id="list" class="a_icon" ng-click="boardFind( )">
                <i class="fa fa-list" aria-hidden="true">
                </i>
            </a>
            <label for="list" class="cls17">Listar</label>
        </li>
        <li>
            <detail-board-component></detail-board-component>
            <label for="list" class="cls17">Detalle</label>
        </li>
        <li>
            <new-board-component></new-board-component>
            <label for="list" class="cls17">Nuevo</label>
        </li>
        <li>
            <edit-board-component></edit-board-component>
            <label for="list" class="cls17">Editar</label>
        </li>
        <li>
            <a class="a_icon" ng-click="dropBoard()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <label for="list" class="cls17">Eliminar</label>
        </li>
    </ul>
    <!-- /Iconos operaciones crud  -->

    <!-- Barra lateral izquierda -->
    <aside class="cls02" ng-include="'/views/sideBarRightAdmin.html'">
    </aside>
    <!-- /Barra lateral izquierda -->

    <!-- Lista de mesas -->
    <section class="cls04">
        <label for="listado" class="cls17 cls18">Listado de mesas</label>

        <div class="cls05" ng-repeat="board in boards" ng-click="selectedBoard(board)">
            <span class="cls06 cls07"></span>
            <img src="../../images/mesa-01.png" alt="Norway" style="width:100%">
            <div class="cls09">
                <p>{{ board.number }} / {{ board.space }} lugares</p>
            </div>
        </div>
    </section>
    <!-- /Lista de mesas  -->
</div>