<a class="a_icon" ng-click="$ctrl.editIngrediente()">
    <img class="cls20" src="../../images/ico-edit.png" alt="edit">
</a>

<script type="text/ng-template" id="modalEditIngrediente.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.EDIT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="editIngrediente" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.NAME' | translate}}</label>
                    <input class="general" type="text" name="nombre" placeholder="{{'GENE.NAME' | translate}}" ng-model="ingrediente.name" required>
                    <span class="has-error control-label" ng-show="
                        editIngrediente.nombre.$invalid && editIngrediente.nombre.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">{{'GENE.TIPO' | translate}}</label>
                    <select chosen name="tipo"
                        data-placeholder-text-single="'{{'GENE.LBL02' | translate}}'"
                        no-results-text="'{{'GENE.LBL01' | translate}}'"
                        ng-model="type"
                        ng-options="typ as typ.dsca for typ in types track by typ.value"
                        ng-change="changeType()">
                    </select>
                </div>
            </div>
            <div class="row" ng-show="type.value == 1">
                <div class="col-sm-12 col-xs-12">
                    <label class="font02">(*) {{'GENE.PREC' | translate}}</label>
                    <input class="general" type="number" name="price" min="0" placeholder="{{'GENE.PREC' | translate}}" ng-model="ingrediente.price">
                    <span class="has-error control-label" ng-show="
                        editIngrediente.price.$invalid && editIngrediente.price.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
                    class="fa fa-close"></i>{{'GENE.CANC' | translate}}
                </a> <a ng-disabled="!editIngrediente.$valid" ng-click="edit(editIngrediente)"
                    class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
                    {{'GENE.EDIT' | translate}}
                </a>
            </div>
        </form>
    </div>
</script>