<ul style="position:fixed; top:10px; left: 10px; z-index: 10000;">
    <li style="display: inline-block;"><a class="cls80" href="" ui-sref="principal"><span style="color:white;" class="cls17">Inicio</span></a></li>
</ul>
<!-- Fondo -->
<img src="../../images/fond-01.jpg" alt="fondo" class="fond01">

<!-- logo -->
<img src="../../images/logo.png" class="logo" alt="logo">

<div class="container03">
    <!-- Iconos operaciones crud -->
    <ul class="cls01">
        <li>
            <detail-ingrediente-component></detail-ingrediente-component>
            <label for="list" class="cls17">{{"GENE.DETA" | translate}}</label>
        </li>
        <li>
            <new-ingrediente-component></new-ingrediente-component>
            <label for="list" class="cls17">{{"GENE.NEW" | translate}}</label>
        </li>
        <li>
            <edit-ingrediente-component></edit-ingrediente-component>
            <label for="list" class="cls17">{{"GENE.EDIT" | translate}}</label>
        </li>
        <li>
            <a class="a_icon" ng-click="dropIngrediente()">
                <img class="cls20" src="../../images/ico-trash.png" alt="trash">
            </a>
            <label for="list" class="cls17">{{"GENE.DELE" | translate}}</label>
        </li>
    </ul>
    <!-- /Iconos operaciones crud  -->

    <!-- Barra lateral izquierda -->
    <aside class="cls02" ng-include="'/views/sideBarRightAdmin.html'">
    </aside>
    <!-- /Barra lateral izquierda -->

    <!-- Lista de mesas -->
    <section class="cls04">
        <label for="listado" class="cls17 cls18">{{"GENE.INGRE" | translate}}</label>

        <div class="cls05" ng-repeat="ingrediente in ingredientes" ng-click="selectedIngrediente(ingrediente)">
            <img src="{{'../../images/storage/container1/'+ingrediente.image}}" alt="Imagen de fondo">
            <div class="cls09">
                <p>{{ ingrediente.name }}</p>
            </div>
        </div>
    </section>
    <!-- /Lista de mesas  -->
</div>
<script>
$(document).ready(function(){
    $(".cls04").on('click', '.cls05', function(){
        $('.cls05').removeClass("cls05Selected");
        $(this).addClass("cls05Selected");
    });
});
</script>