<a class="a_icon" ng-click="$ctrl.newCategory()"><i class="fa fa-plus" aria-hidden="true"></i></a>

<script type="text/ng-template" id="modalNewCategory.html">
    <div class="modal-header">
        <h3 class="box-title">Nueva categoria</h3>
    </div>
    <div class="modal-body">
        <form name="newCategory" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) Nombre</label>
                    <input type="text" name="nombre" placeholder="Nombre" ng-model="category.name" required>
                    <span class="has-error control-label" ng-show="
                        newCategory.nombre.$invalid && newCategory.nombre.$dirty">
                    Nombre es requirido.
                    </span>
                </div>
                <div class="col-sm-6">
                   <label class="font02">Descripción</label>
                    <input type="text" name="descripcion" placeholder="Descripción" ng-model="category.description">
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
                    class="fa fa-close"></i> Cancelar
                </a> <a ng-disabled="!newCategory.$valid" ng-click="save(newCategory)"
                    class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
                    Guardar
                </a>
            </div>
        </form>
    </div>
</script>