<a class="a_icon" ng-click="$ctrl.detailCategory()">
    <img class="cls20" src="../../images/ico-detail.png" alt="detail">
</a>

<script type="text/ng-template" id="modalDetailCategory.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.DETA' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <label for="">{{'GENE.NUME' | translate}}</label>
                {{category.name}}
            </div>
            <div class="col-xs-6 col-sm-6">
                <label for="">{{'GENE.ACTI' | translate}}</label>
                {{category.active}}
            </div>
            <div class="col-xs-12 col-sm-12">
                <label for="">{{'GENE.DSCA' | translate}}</label>
                {{category.description}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
            class="fa fa-close"></i> {{'GENE.CANC' | translate}}
        </a>
    </div>
</script>