<a class="a_icon" ng-click="$ctrl.editCategory()">
    <img class="cls20" src="../../images/ico-edit.png" alt="edit">
</a>

<script type="text/ng-template" id="modalEditCategory.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.EDIT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="editCategory" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.NAME' | translate}}</label>
                    <input type="text" class="general" name="nombre" placeholder="{{'GENE.NAME' | translate}}" ng-model="category.name" required>
                    <span class="has-error control-label" ng-show="
                        editCategory.nombre.$invalid && editCategory.nombre.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">{{'GENE.DSCA' | translate}}</label>
                    <input type="text" class="general" name="descripcion" placeholder="{{'GENE.DSCA' | translate}}" ng-model="category.description">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <img src="{{'../../images/storage/container1/'+category.image}}" class="cls81">
                </div>
                <div class="col-xs-9">
                    <label class="font02">{{'GENE.SELIMG' | translate}}</label>
                    <input class="general" nv-file-select uploader="uploader" type="file"/>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
                    class="fa fa-close"></i>{{'GENE.CANC' | translate}}
                </a> <a ng-disabled="!editCategory.$valid" ng-click="edit(editCategory)"
                    class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
                    {{'GENE.EDIT' | translate}}
                </a>
            </div>
        </form>
    </div>
</script>