<!-- Fondo -->
<img src="../../images/fond-01.jpg" alt="fondo" class="fond01">

<!-- logo -->
<img src="../../images/logo02.png" class="logo2" alt="logo">

<div class="container03">
    <!-- Iconos operaciones crud -->
    <ul class="cls01">
        <li><a id="list" class="a_icon" ng-click="categoryFind( )"><i class="fa fa-list" aria-hidden="true"></i></a></li>
        <li><detail-category-component></detail-category-component></li>
        <li><new-category-component></new-category-component></li>
        <li><edit-category-component></edit-category-component></li>
        <li><a class="a_icon" ng-click="dropCategory()"><i class="fa fa-times" aria-hidden="true"></i></a></li>
    </ul>
    <!-- /Iconos operaciones crud  -->

    <!-- Barra lateral izquierda -->
    <aside class="cls02">
        <ul>
            <li class="cls03"><a ui-sref="boardList"><span> Mesas</span></a></li>
            <li class="cls03"><a ui-sref="categoryList"><span> Categorias</span></a></li>
            <li class="cls03"><a href="#"><span> Productos</span></a></li>
        </ul>
    </aside>
    <!-- /Barra lateral izquierda  -->

    <!-- Lista de mesas -->
    <section class="cls04">
        <h2>Categoria de productos</h2>

        <div class="cls05" ng-repeat="category in categorys" ng-click="selectedCategory(category)">
            <span class="cls06 cls07"></span>
            <img src="../../images/sin-img-01.png" alt="Imagen de fondo">
            <div class="cls09">
                <p>{{ category.name }}</p>
            </div>
        </div>
    </section>
    <!-- /Lista de mesas  -->
</div>