<!-- Fondo -->
<img src="../../images/fond-01.jpg" alt="fondo" class="fond01">

<!-- logo -->
<img src="../../images/logo02.png" class="logo2" alt="logo">

<div class="container03">
    <!-- Iconos operaciones crud -->
    <ul class="cls01">
        <li>
            <a id="list" class="a_icon" ng-click="categoryFind( )">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
            <label for="list" class="cls17">Listar</label>
        </li>
        <li>
            <detail-category-component></detail-category-component>
            <label for="list" class="cls17">Detalle</label>
        </li>
        <li>
            <new-category-component></new-category-component>
            <label for="list" class="cls17">Crear</label>
        </li>
        <li>
            <edit-category-component></edit-category-component>
            <label for="list" class="cls17">Editar</label>
        </li>
        <li>
            <a class="a_icon" ng-click="dropCategory()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <label for="list" class="cls17">Eliminar</label>
        </li>
    </ul>
    <!-- /Iconos operaciones crud  -->

    <!-- Barra lateral izquierda -->
    <aside class="cls02" ng-include="'/views/sideBarRightAdmin.html'">
    </aside>
    <!-- /Barra lateral izquierda -->

    <!-- Lista de mesas -->
    <section class="cls04">
        <label for="listado" class="cls17 cls18">Categoria de productos</label>

        <div class="cls05" ng-repeat="category in categorys" ng-click="selectedCategory(category)">
            <img src="../../images/sin-img-01.png" alt="Imagen de fondo">
            <div class="cls09">
                <p>{{ category.name }}</p>
            </div>
        </div>
    </section>
    <!-- /Lista de mesas  -->
</div>