<a class="a_icon" ng-click="$ctrl.newProduct()">
    <img class="cls20" src="../../images/ico-new.png" alt="new">
</a>

<script type="text/ng-template" id="modalNewProduct.html">
    <div class="modal-header">
        <h3 class="box-title">{{'GENE.NEW' | translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="newProduct" novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.CODE' | translate}}</label>
                    <input type="text" class="general" name="code" placeholder="{{'GENE.CODE' | translate}}" ng-model="product.code" required>
                    <span class="has-error control-label" ng-show="
                        newProduct.code.$invalid && newProduct.code.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.NAME' | translate}} </label>
                    <input type="text" class="general" name="nombre" placeholder="{{'GENE.NAME' | translate}}" ng-model="product.name" required>
                    <span class="has-error control-label" ng-show="
                        newProduct.nombre.$invalid && newProduct.nombre.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.CATE' | translate}}</label>
                    <select chosen
                            data-placeholder-text-single="'{{'GENE.LBL02' | translate}}'"
                            no-results-text="'{{'GENE.LBL01' | translate}}'"
                            ng-model="category"
                            ng-options="cat as cat.name for cat in categorys track by cat.id">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label class="font02">(*) {{'GENE.PREC' | translate}}</label>
                    <input class="general" type="number" name="price" min="0" placeholder="{{'GENE.PREC' | translate}}" ng-model="product.price" required>
                    <span class="has-error control-label" ng-show="
                        newProduct.price.$invalid && newProduct.price.$dirty">
                    {{'FORM.REQU' | translate}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <label class="font02">{{'GENE.DSCA' | translate}}</label>
                    <input type="text" class="general" name="descripcion" placeholder="{{'GENE.DSCA' | translate}}" ng-model="product.description">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <label class="font02">Seleccione una imagen</label>
                    <input class="general" nv-file-select uploader="uploader" type="file"/>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
                    class="fa fa-close"></i> {{'GENE.CANC' | translate}}
                </a> <a ng-disabled="!newProduct.$valid" ng-click="save(newProduct)"
                    class="btn btn-app btn btn-primary"> <i class="fa fa-save"></i>
                    {{'GENE.GUAR' | translate}}
                </a>
            </div>
        </form>
    </div>
</script>
