<a class="a_icon" ng-click="$ctrl.detailProduct()"><i class="fa fa-info-circle" aria-hidden="true"></i></a>

<script type="text/ng-template" id="modalDetailProduct.html">
    <div class="modal-header">
        <h3 class="box-title">Detalle de producto</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <label for="">Código</label>
                {{product.code}}
            </div>
            <div class="col-xs-6 col-sm-6">
                <label for="">Nombre</label>
                {{product.name}}
            </div>
            <div class="col-xs-6 col-sm-6">
                <label for="">Precio</label>
                {{product.price}}
            </div>
            <div class="col-xs-6 col-sm-6">
                <label for="">Activo</label>
                {{product.active}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="cancel()" class="btn btn-app btn btn-warning"> <i
            class="fa fa-close"></i> Cancelar
        </a>
    </div>
</script>