<!-- Fondo -->
<img src="../../images/fond-01.jpg" alt="fondo" class="fond01">

<!-- logo -->
<img src="../../images/logo02.png" class="logo2" alt="logo">

<div class="container03">
    <!-- Iconos operaciones crud -->
    <ul class="cls01">
        <li><a id="list" class="a_icon" ng-click="productFind( )"><i class="fa fa-list" aria-hidden="true"></i></a></li>
        <li><detail-product-component></detail-product-component></li>
        <li><new-product-component></new-product-component></li>
        <li><edit-product-component></edit-product-component></li>
        <li><a class="a_icon" ng-click="dropProduct()"><i class="fa fa-times" aria-hidden="true"></i></a></li>
    </ul>
    <!-- /Iconos operaciones crud  -->

    <!-- Barra lateral izquierda -->
    <aside class="cls02">
        <ul>
            <li class="cls03"><a ui-sref="boardList"><span> Mesas</span></a></li>
            <li class="cls03"><a ui-sref="categoryList"><span> Categorias</span></a></li>
            <li class="cls03"><a ui-sref="productList"><span> Productos</span></a></li>
        </ul>
    </aside>
    <!-- /Barra lateral izquierda  -->

    <!-- Lista de productos -->
    <section class="cls04">
        <h2>Lista de productos</h2>

        <div class="cls05" ng-repeat="product in products" ng-click="selectedProduct(product)">
            <span class="cls06 cls07"></span>
            <img src="../../images/sin-img-01.png" alt="Imagen de fondo">
            <div class="cls09">
                <p>{{ product.code }} / {{ product.price}}</p>
            </div>
        </div>
    </section>
    <!-- /Lista de productos  -->
</div>