<!-- Fondo -->
<img src="../../images/fond-01.jpg" alt="fondo" class="fond01">

<!-- logo -->
<img src="../../images/logo02.png" class="logo2" alt="logo">

<div class="container03">
    <!-- Iconos operaciones crud -->
    <ul class="cls01">
        <li>
            <a id="list" class="a_icon" ng-click="productFind( )">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
            <label for="list" class="cls17">{{"GENE.LIST" | translate}}</label>
        </li>
        <li>
            <detail-product-component></detail-product-component>
            <label for="list" class="cls17">{{"GENE.DETA" | translate}}</label>
        </li>
        <li>
            <new-product-component></new-product-component>
            <label for="list" class="cls17">{{"GENE.NEW" | translate}}</label>
        </li>
        <li>
            <edit-product-component></edit-product-component>
            <label for="list" class="cls17">{{"GENE.EDIT" | translate}}</label>
        </li>
        <li>
            <a class="a_icon" ng-click="dropProduct()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <label for="list" class="cls17">{{"GENE.DELE" | translate}}</label>
        </li>
    </ul>
    <!-- /Iconos operaciones crud  -->

    <!-- Barra lateral izquierda -->
    <aside class="cls02" ng-include="'/views/sideBarRightAdmin.html'">
    </aside>
    <!-- /Barra lateral izquierda -->

    <!-- Lista de productos -->
    <section class="cls04">
        <label for="listado" class="cls17 cls18">{{"GENE.PROD" | translate}}</label>

        <div class="cls05" ng-repeat="product in products" ng-click="selectedProduct(product)">
            <img src="../../images/icon-menu01.png" alt="Imagen de fondo">
            <div class="cls09">
                <p>{{ product.code }} / {{ product.price}}</p>
            </div>
        </div>
    </section>
    <!-- /Lista de productos  -->
</div>